<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>akimatsu掲示板</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <h1>akimatsu掲示板へようこそ！</h1>
    <%= yield %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <script src='/js/bootstrap.bundle.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src="/js/custom.js"></script>
  </body>

</html>

