<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<div class="layout-newcreate">
  <div class="new-text">
    <h3>新しい掲示板を作成する</h3>
  </div>

  <form action="/boards" method="post">
    <div class="text-form">
      <label for="name">掲示板タイトル: </label>
      <input type="text" name="name">
      <% if locals[:error_message] %>
        <p class="error"><%= locals[:error_message] %></p>
      <% end %>
    </div>

    <div class="create-button">
      <input type="submit" value="作成">
    </div>

  </form>
</div>